body {
    margin: 0;
    background-image: url('../images/pexels-photo-355321.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


@mixin flexAligh ($hor: center, $vert: center, $pos: flex) {
    display: flex;
    align-items: $vert;
    justify-content: $hor;
    flex-direction: $pos;
}

.font {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
}

.seleckt {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    // margin-top     : 30%;




    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100%;
        // position       : absolute;
        right: 50%;
        margin-top: 50%;


        &__button {
            cursor: pointer;
            height: 40px;
            width: 160px;
            // position : relative;
            margin-top: 193px;
            font-size: 30px;
            margin-left: -162px;
            background-color: #006E4A;
            text-decoration-color: green;
            color: greenyellow;


        }


        &__cart {
            height: 150px;
            width: 160px;
            // position : relative;
            bottom: 100px;
            left: 160px;
            font-size: 30px;
            border: 2px solid yellowgreen;
            border-radius: 50%;

        }
    }

}


.textsaita {
    display: flex;
    position: absolute;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 30px;
    border-radius: 50%;
    background-color: yellow;

}



.meny {
    @include flexAligh();
    // display: none;




    @media screen and(max-width: 768px) {
        display: flex;
    }


    &__container {
        min-width: 40px;
        height: 40px;
        border-radius: 6px;
        border: 2px solid black;
        @include flexAligh();
        position: relative;
        left: 40%;
        top: -120px;


        &-line {
            width: 30px;
            height: 3px;
            // background-color: $btn-color ;
            border-bottom: 2px solid black;
            position: relative;
            transition: 0.4s;

            &::after {
                content: '';
                width: 30px;
                height: 3px;
                // background-color:$btn-color ;
                border-bottom: 2px solid black;
                position: absolute;
                top: 7px;
                left: 0;
                transition: 0.4s;

            }

            &::before {
                content: '';
                width: 30px;
                height: 3px;
                // background-color:$btn-color ;
                border-bottom: 2px solid black;
                position: absolute;
                top: -7px;
                left: 0;
                transition: 0.4s;
            }
        }
    }

    .checkbox:checked + .meny__container > .meny__container-line {
        border-bottom: 2px solid transparent;

        &::after {
            top: 2px;
            transform: rotate(45deg);
        }

        &:before {
            top: 2px;
            transform: rotate(-45deg);
        }
    }

    
}




.footer {
    height: 25px;
    width: 100%;
    background-color: #006E4A;
    color: white;
    font-size: 16px;
    margin-top: 573px;
    position: relative;
    @include flexAligh();


    &__vk {
        color: black;
    }

}