body {
  margin: 0;
  background-image: url("../images/pexels-photo-355321.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.font {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 0; }

.seleckt {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative; }
  .seleckt .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    right: 50%;
    margin-top: 50%; }
    .seleckt .btn__button {
      cursor: pointer;
      height: 40px;
      width: 160px;
      margin-top: 193px;
      font-size: 30px;
      margin-left: -162px;
      background-color: #006E4A;
      text-decoration-color: green;
      color: greenyellow; }
    .seleckt .btn__cart {
      height: 150px;
      width: 160px;
      bottom: 100px;
      left: 160px;
      font-size: 30px;
      border: 2px solid yellowgreen;
      border-radius: 50%; }

.textsaita {
  display: flex;
  position: absolute;
  height: 150px;
  width: 150px;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 30px;
  border-radius: 50%;
  background-color: yellow; }

.meny {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: flex; }
  @media screen and (max-width: 768px) {
    .meny {
      display: flex; } }
  .meny__container {
    min-width: 40px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: flex;
    position: relative;
    left: 40%;
    top: -120px; }
    .meny__container-line {
      width: 30px;
      height: 3px;
      border-bottom: 2px solid black;
      position: relative;
      transition: 0.4s; }
      .meny__container-line::after {
        content: '';
        width: 30px;
        height: 3px;
        border-bottom: 2px solid black;
        position: absolute;
        top: 7px;
        left: 0;
        transition: 0.4s; }
      .meny__container-line::before {
        content: '';
        width: 30px;
        height: 3px;
        border-bottom: 2px solid black;
        position: absolute;
        top: -7px;
        left: 0;
        transition: 0.4s; }
  .meny .checkbox:checked + .meny__container > .meny__container-line {
    border-bottom: 2px solid transparent; }
    .meny .checkbox:checked + .meny__container > .meny__container-line::after {
      top: 2px;
      transform: rotate(45deg); }
    .meny .checkbox:checked + .meny__container > .meny__container-line:before {
      top: 2px;
      transform: rotate(-45deg); }

.footer {
  height: 25px;
  width: 100%;
  background-color: #006E4A;
  color: white;
  font-size: 16px;
  margin-top: 573px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: flex; }
  .footer__vk {
    color: black; }
